In [1]:
import pandas as pd
import numpy as np

In [19]:
book = pd.read_csv('book.csv')
book

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,"Act Like a Lady, Think Like a Man: What Men Re...",Steve Harvey,4.6,5013,17,2009,Non Fiction
1,Arguing with Idiots: How to Stop Small Minds a...,Glenn Beck,4.6,798,5,2009,Non Fiction
2,"Breaking Dawn (The Twilight Saga, Book 4)",Stephenie Meyer,4.6,9769,13,2009,Fiction
3,Crazy Love: Overwhelmed by a Relentless God,Francis Chan,4.7,1542,14,2009,Non Fiction
4,Dead And Gone: A Sookie Stackhouse Novel (Sook...,Charlaine Harris,4.6,1541,4,2009,Fiction
...,...,...,...,...,...,...,...
695,The Wonderful Things You Will Be,Emily Winfield Martin,4.9,20920,9,2022,Fiction
696,Ugly Love: A Novel,Colleen Hoover,4.7,33929,10,2022,Fiction
697,Verity,Colleen Hoover,4.6,71826,11,2022,Fiction
698,What to Expect When You're Expecting,Heidi Murkoff,4.8,27052,13,2022,Non Fiction
699,Where the Crawdads Sing,Delia Owens,4.8,208917,10,2022,Fiction

In [21]:
price = book.Price
price

0      17
1       5
2      13
3      14
4       4
       ..
695     9
696    10
697    11
698    13
699    10
Name: Price, Length: 700, dtype: int64

In [23]:
# Finding average
average_price = np.average(price)
average_price

12.7

In [24]:
# Calculating variance
price_var = np.var(price)
price_var

98.16999999999965

In [25]:
# Calculating standard_deviation
price_standard_deviation = np.std(price)
price_standard_deviation

9.908077512817492